.header{
    background: #2C2C2C;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.container_header{
    display:flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
}
.logo__img{
    width: 65px;
    height: 48px;
}
.logo{
    color: #FFF;
    font-family: Nico Moji;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: auto;

}
.nav__list{
    display:flex;
    list-style: none;
}
.nav__item{
    margin-right: 64px;
}
.nav__link{
    color: #E4E4E4;
    font-family: Nico Moji;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.nav__link:hover{
    color: aqua;
    transition:2s;
}
body{
    background-color: aqua;
}
.hero-block{
    background: #2C2C2C;
}
.hero-block__title{
    color: #E4E4E4;
font-family:'Press Start 2P', cursive;
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hero-block__text{
    color: #E4E4E4;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hero-block__content{
    max-width: 475px;
}
.hero-block__btn{
    width: 224px;
    height: 47px;
    background-color: orange;
}
.container_hero-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0 90px;
}
.hero-block__img{
    margin-right: 8%;

}
.about{
    background: #2C2C2C;
}